/*--- VARIABLES ---*/

.droid-12 {
    font-family: 'Droid Sans', sans-serif;
    font-size: 12px;
}

.goudy-18 {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 18px;
}

.goudy-24 {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 24px;
}

.goudy-30 {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 30px;
}


/*--- GENERAL ---*/

.page-title {
    color: white;
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 48px;
    text-align: left;
}

.page-subtitle {
    color: #778292;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 30px;
}

.success-message {
    display: none;
}

.active-page {
    color: #fff;
}

.hidden {
    display: none;
}

.auth label {
    font-family: 'Goudy Bookletter 1911', serif;
    font-weight: bold;
}

.index-header {
    margin-top: 80px;
}

.header-main {
    background-image: url('../img/background-index-header.png');
    background-position: center;
    background-size: cover;
}


/*--- HEADER ---*/

.header {
    background-image: url('../img/background-top-home.png');
    background-position: center center;
    max-height: 560px;
    min-height: 560px;
}

.h-row {
    text-align: center;
}

#logo {
    height: 60px;
    margin-top: 50px;
    opacity: 0.7;
}

.logo-link {
    margin-left: 0;
    padding-left: 0;
}

#mini-nav {
    margin-left: 180px;
    margin-top: 50px;
    position: relative;
    right: 0;
}

#navigation {
    background-color: #f3f3f3;
    border: 1px solid #111b27;
    border-radius: 10px;
    box-shadow: inset 0 -18px 1px #d2d2d2;
    height: 44px;
    margin-top: 50px;
    padding-top: 5px;
    text-shadow: 1px 1px 0 white;
}

#navigation a {
    color: black;
}

#navigation active {
    color: #9e9d9d;
    font-style: italic;
}

#navigation a:hover {
    color: #9e9d9d;
    font-style: italic;
}

.drawing {
    background-image: url('../img/background-bot-header.png');
    background-position: center center;
    background-repeat: no-repeat;
    bottom: 0;
    height: 240px;
    left: 0;
    position: absolute;
    right: 0;
}

.my-carousel {
    left: 0;
    position: absolute;
    right: 0;
    top: 35%;
}

.my-carousel span>.carousel-img {
    opacity: 0.3;
}

.carousel-img-left {
    background-image: url('../img/left-arrow.png');
    height: 34px;
    width: 22px;
}

.carousel-img-right {
    background-image: url('../img/right-arrow.png');
    height: 34px;
    width: 22px;
}


/*--- CONTENT ---*/

.content {
    background-image: url('../img/background-content.png');
    background-size: cover;
}

.showcase-img {
    padding-right: 10px;
}

.showcase-header {
    color: #758b8d;
    margin-left: 12px;
    margin-top: 50px;
}

.showcase p {
    color: #8c8a8a;
    height: 150px;
    margin: 0 auto;
    margin-top: 10px;
}

.showcase-img {
    margin: 0 auto;
}

.showcase-btn {
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#efefef));
    background-image: -webkit-linear-gradient(top, white, #efefef);
    background-image: -moz-linear-gradient(top, white, #efefef);
    background-image: linear-gradient(to bottom, white, #efefef);
    border: 1px solid white;
    border-radius: 12px;
    box-shadow: 0 1px 1px #cfcece;
    color: #7e9294;
    font-family: 'Droid Sans', sans-serif;
    font-size: 11px;
    padding: 4px 10px 4px 10px;
    text-align: center;
}

.showcase-btn:hover {
    box-shadow: 0 1px 0 black;
    cursor: pointer;
}


/*--- FOOTER ---*/

#footer-logo {
    width: 200px;
}

.footer {
    background-image: url('../img/background-index-footer.png');
    background-size: cover;
}

.index-footer {
    background-image: url('../img/background-footer-home.png');
}

.footer h1,
.footer p,
.footer li {
    text-shadow: 1px 1px 0 black;
}

.showcase-header-bottom {
    color: #fff;
    margin-left: 12px;
    margin-top: 50px;
}

.showcase-text-bottom,
.footer-item {
    color: #aebdd1;
}

.footer-item:hover {
    color: #fff;
    cursor: pointer;
}

.footer-list {
    list-style-image: url('../img/pointer.png')
}

.footer-nav {
    background-image: url('../img/footer-nav.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-nav a,
.author {
    color: #aebdd1;
    padding: 15px;
    text-shadow: 1px 1px 0 black;
}

.footer-nav a:hover,
.author strong {
    color: white;
    font-style: italic;
}


/*--- HOME PAGE ---*/

.home-button {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#85bac2), to(#387076));
    background-image: -webkit-linear-gradient(top, #85bac2, #387076);
    background-image: -moz-linear-gradient(top, #85bac2, #387076);
    background-image: linear-gradient(to bottom, #85bac2, #387076);
    border: 1px solid #317179;
    border-radius: 10px;
    box-shadow: 0 2px 10px gray, #9cc9ce 1px 1px 1px inset;
    color: #fff;
    height: 50px;
    margin-top: -25px;
    padding-top: 2px;
    position: relative;
    text-align: center;
}

.home-button:hover {
    box-shadow: 0 3px 5px black;
    cursor: pointer;
}

.media {
    background-image: url('../img/media-bg.png');
    height: auto;
    margin-bottom: 80px;
    position: relative;
    width: 100%;
}

.media>.row {
    height: auto;
    margin-left: auto;
    margin-right: 0;
    width: 90%;
}

.media-inner {
    background-color: white;
    border: 1px solid #b7b7b7;
}

.black-circle {
    background-color: rgb(33, 33, 33);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    height: 30px;
    left: 40%;
    position: absolute;
    right: 0;
    top: 26px;
    width: 30px;
}

.inner-icon {
    color: white;
    height: 15px;
    left: 10px;
    position: absolute;
    right: 0;
    top: 7px;
    width: 8px;
}

.quote {
    background-color: white;
    border: 1px solid #e0e0e0;
    color: #979797;
    height: 70px;
    padding-top: 20px;
    text-align: center;
    width: 3000px;
}


/* --- CONTENT PAGE ---*/

.top-pagination,
.top-pagination>a {
    color: #b0afaf;
    padding-left: 0;
    text-shadow: 1px 1px 1px white;
}

.top-pagination {
    margin-bottom: 40px;
    margin-top: 30px;
}

#top-pagination-active {
    color: #758b8d;
}

.post-title {
    color: #758b8d;
}

.post-info {
    color: #a2a2a2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    font-style: italic;
}

.post-info a {
    color: #797979;
}

.post-image {
    background-color: #fff;
    border: 1px solid #ebeaea;
    border-bottom: 1px solid #cecdcd;
    float: left;
    height: 210px;
    margin-right: 30px;
    margin-top: 12px;
    margin-bottom: 10px;
    width: 210px;
}

.post-text {
    color: #8c8a8a;
    float: right;
    line-height: 20px;
    margin-left: 0;
    margin-top: 12px;
    text-shadow: 1px 1px 1px white;
}

.bot-pagination {
    color: #8c8a8a;
    margin-bottom: 30px;
    margin-top: 60px;
}

#bot-pagination-pages {
    font-size: 30px;
}

.bot-pagination a {
    color: #758b8d;
}

.sidebar-title {
    color: #758b8d;
    margin-left: 12px;
    margin-top: 50px;
}

.sidebar-list {
    list-style-image: url('../img/pointer.png')
}

.sidebar-link {
    color: #8c8a8a;
    line-height: 26px;
}

.sidebar-link:hover {
    color: #fff;
    cursor: pointer;
}

#last-list {
    margin-bottom: 50px;
}

.comment-number {
    color: #758b8d;
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 36px;
    margin-left: 15px;
    text-align: left;
}

.comment {
    background-image: url('../img/comment-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 50px;
    padding-bottom: 15px;
}

.comment-picture {
    background-color: white;
    border: 1px solid #ebeaea;
    border-bottom: 1px solid #cecdcd;
    height: 65px;
    margin: 15px auto;
    width: 65px;
}

.comment-picture:hover {
    box-shadow: 0 2px 1px black;
}

.comment-title {
    color: #b6b5b5;
    margin-top: 15px;
    text-align: center;
}

.comment-title strong {
    color: #565656;
    margin-top: -5px;
}

.comment-content {
    color: #8c8a8a;
    margin-right: 10px;
}

#comment-more {
    margin-right: 20px;
    margin-top: 10px;
    text-align: center;
}

.comments-divider {
    background-image: url('../img/hr-divider.png');
    background-size: cover;
    height: 6px;
    margin-top: 10px;
}

#footer-title {
    color: skyblue;
}

.auth {
    margin-bottom: 100px;
    margin-top: 100px;
    text-align: left;
}


/* --- FINAL HOTFIXES --- */

.show-image {
    padding-left: 0;
}

#header {
    padding-left: 0;
}

.post-content>div {
    padding-left: 0;
}

.footer-el {
    margin-bottom: 30px;
}

.comments>div {
    padding-left: 0;
}

.post-text>p {
    line-height: 22px;
    padding-right: 30px;
}

#contact-title {
    padding-top: 25px;
    text-align: center;
}

#footer-showcase {
    color: #aebdd1;
}

.post-content {
    margin-bottom: 40px;
}

#editBtn,
#changeBtn {
    margin-left: 30px;
}

.post-content p {
    margin-top: 6px;
}


/* --- QUERIES --- */


/* // Extra small devices (portrait phones, less than 576px) */


/* // Medium devices (tablets, 768px and up) */

@media (max-width: 768px) {
    #navigation {
        display: none;
    }
    .media {
        display: none;
    }
    #mini-nav {
        margin-left: 360px;
    }
    .post-title,
    .post-info {
        margin-left: 30%;
        text-align: center;
    }
    .post-image {
        margin-left: 36%;
    }
    .post-text p {
        margin-top: 250px;
        padding-left: 30px;
    }
    .page-title,
    .page-subtitle {
        text-align: center;
    }
    .top-pagination {
        display: none;
    }
    .shows-title {
        margin-left: 10px;
    }
    .shows-info {
        margin-left: 10px;
    }
    .shows-image {
        margin-left: 15px;
    }
    .shows-desc {
        margin-left: 0;
        padding-left: 0;
        text-align: left;
    }
    .alert-success {
        visibility: hidden;
    }
    .submit-form {
        padding-left: 0;
    }
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .sidebar {
        text-align: left;
    }
    .footer,
    .index-footer {
        background-position: center center;
        background-size: cover;
    }
    .sidebar {
        border: none;
    }
    .quote-inner {
        font-size: 15px;
    }
    .media {
        visibility: hidden;
    }
}

@media (max-width: 575px) {
    #mini-nav {
        margin-left: 200px;
        margin-right: 0;
    }
    .quote {
        height: 130px;
    }
    .footer-nav .float-left {
        display: none;
    }
    .logo-row {
        margin-left: 0;
    }
    .author {
        margin-left: 500px;
    }
    .home-button {
        font-size: 20px;
        padding-top: 8px;
    }
    .post-title,
    .post-info {
        margin-left: 18%;
    }
    .post-image {
        margin-left: 27%;
    }
    .shows-title {
        margin-left: 10px;
    }
    .shows-info {
        margin-left: 10px;
    }
    .shows-image {
        margin-left: 15px;
    }
    .shows-desc {
        margin-left: 0;
        padding-left: 0;
        text-align: left;
    }
}

@media (max-width: 425px) {
    #mini-nav {
        margin-left: 160px;
        margin-right: 0;
    }
    .quote {
        height: 130px;
    }
    .footer-nav .float-left {
        display: none;
    }
    .logo-row {
        margin-left: 0;
    }
    .author {
        margin-left: 500px;
    }
    .home-button {
        font-size: 20px;
        padding-top: 8px;
    }
    .post-title,
    .post-info {
        margin-left: 12%;
    }
    .post-image {
        margin-left: 27%;
    }
    .shows-title {
        margin-left: 10px;
    }
    .shows-info {
        margin-left: 10px;
    }
    .shows-image {
        margin-left: 15px;
    }
    .shows-desc {
        margin-left: 0;
        padding-left: 0;
        text-align: left;
    }
    .quote .showcase-btn {
        margin-top: 20px;
    }
    #logo-row {
        margin-left: 0;
        padding-left: 0;
    }
    #reviews-button {
        display: none;
    }
    #register-button {
        margin-left: 50px;
        width: 300px;
    }
    .my-carousel {
        display: none;
    }
    .comment .col-10 {
        margin-left: 15px;
    }
    .comment .col-2 {
        display: none;
    }
}

@media (max-width: 375px) {
    #register-button {
        margin-left: 25px;
    }
    .quote .showcase-btn {
        width: 40px;
    }
    .post-title,
    .post-info {
        margin-left: 10%;
    }
    .post-image {
        margin-left: 80px;
    }
    .comments>.col-10 strong {
        font-size: 0.8em;
    }
    .show-less,
    .show-more {
        width: 50px;
    }
    .show-btn {
        margin-right: 25px;
    }
}

@media (max-width: 320px) {
    #mini-nav {
        margin-left: 120px;
        margin-right: 0;
    }
    #register-button {
        margin-left: 10px;
        margin-right: 10px;
        width: 280px;
    }
    .quote-inner {
        font-size: 18px;
    }
    .post-title,
    .post-info {
        margin-left: 8%;
    }
    .post-image {
        margin-left: 55px;
    }
    .logo-row img {
        width: 150px;
    }
}

@media (min-width: 769px) {
    #mini-nav {
        display: none;
    }
    .media-inner {
        background-color: white;
        border: 1px solid #b7b7b7;
        height: 70px;
        margin-right: 40px;
        margin-top: 5px;
        width: 120px;
    }
    .quote-inner {
        font-size: 18px;
    }
    .media {
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 60px;
        min-width: 100%;
        padding-bottom: 50px;
        text-align: center;
        visibility: visible;
    }
    .footer-el {
        text-align: center;
    }
    .alert-success {
        visibility: hidden;
    }
}


/* // Large devices (desktops, 992px and up) */

@media (max-width: 992px) {
    .sidebar {
        display: none;
    }
}

@media (min-width: 992px) {
    .media-inner {
        background-color: white;
        border: 1px solid #b7b7b7;
        height: 82px;
        margin-right: 40px;
        margin-top: 5px;
        width: 120px;
    }
    #first-child {
        margin-left: 50px;
    }
    .footer-el {
        text-align: left;
    }
    .post-title,
    .post-info {
        margin-left: 5px;
    }
}

@media (max-width: 1199px) {
    .footer-el {
        display: none;
    }
    .logo-row {
        margin-bottom: 10px;
        margin-left: 30%;
    }
    #footer-showcase {
        display: none;
    }
    /*csslint important: false*/
    showcase .showcase-btn {
        float: left !important;
        margin-left: 43%;
        width: 150px;
    }
    /*csslint important: true*/
    .showcase p {
        height: 100px;
    }
    .sidebar {
        text-align: center;
    }
    .sidebar-title {
        margin-left: 40px;
    }
}


/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .post-text {
        padding-left: 0;
    }
    .divider {
        display: none;
    }
    .sidebar {
        border-image: url('../img/custom-border.png') 30 30 30 30 stretch;
        border-left: 10px solid;
        border-width: 10px;
    }
    .footer {
        background-size: cover;
    }
    .quote-inner {
        font-size: 19px;
    }
    .media-inner {
        background-color: white;
        border: 1px solid #b7b7b7;
        height: 70px;
        margin-right: 40px;
        margin-top: 3%;
        width: 120px;
    }
    .media :last-child {
        margin-right: auto;
    }
    #first-child {
        margin-left: auto;
    }
    #footer-showcase {
        margin-bottom: 30px;
    }
    .media-inner {
        margin-top: 1px;
    }
}

@media(min-width: 1460px) {
    .media-inner {
        background-color: white;
        border: 1px solid #b7b7b7;
        height: 82px;
        margin-right: 30px;
        margin-top: 2%;
        width: 82px;
    }
    .media :last-child {
        margin-right: auto;
    }
    #first-child {
        margin-left: auto;
    }
    .black-circle {
        margin-bottom: 0;
    }
    .footer-showcase {
        margin-bottom: 0;
    }
}

@media(min-width: 1700px) {
    .media>.row {
        margin-top: 15px;
    }
}


/* 4K */

@media(min-width: 1921px) {
    .showcase p {
        height: 80px;
    }
    .media>.row {
        margin-left: 100px;
        margin-right: 100px;
    }
    .media {
        padding-bottom: 30px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .post-text {
        font-size: 18px;
    }
    .auth {
        margin-left: 40%;
    }
    .h-username {
        margin-bottom: 20px;
        text-align: left;
    }
    .form-group {
        max-width: 600px;
    }
}