<section class="col-xl-8 col-l-8 col-m-10 col-s-12 ml-auto mr-auto">

    <div class="row auth">
    <div class="col-sm-offset-1 col-sm-11">
        <form class="form-horizontal">
            <div class="form-group col-sm-12">
                <label for="tb-currentPass" class="col-sm-3 control-label">Current password</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control col-lg-8 col-sm-8" id="tb-currentPass" placeholder="Current password" />
                </div>
            </div>
            <div class="form-group col-sm-12" >
                <label for="tb-newPassword" class="col-sm-3 control-label">New password</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control col-lg-8 col-sm-8" id="tb-newPassword" placeholder="New password" />
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label for="tb-confirmPassword" class="col-sm-3 control-label">Confirm new password</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control col-lg-8 col-sm-8" id="tb-confirmPassword" placeholder="Confirm new password" />
                </div>
            </div>
            <a class="showcase-btn col-sm-1 col-sm-offset-3" id="changeBtn">Change</a>
        </form>
    </div>
</section>