<div class="col-xl-8 col-l-8 col-m-10 col-s-12 ml-auto mr-auto">
                <div class="row">
                    <div class="col-s-6 col-xs-12 col-3 ml-auto">
                        <div class="home-button">
                            <a href="/reviews" style="color: white">Reviews</a>
                        </div>
                    </div>
                    <div class="col-s-6 col-xs-8 col-3 mr-auto">
                        <div class="home-button">
                            <a href="/register" style="color: white">Sign Up</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-l-4 col-m-6 col-s-12 showcase">
                        <h1 class="showcase-header">What We Offer</h1>
                        <p class="float-right"><img src="./img/showcase-image.jpg" class="showcase-img float-left" alt="">We offer reviews of TV shows where you can share your opinions and thoughts. You will need to have an account in our system to write one, but you can read the reviews of others freely.</p>
                        <div class="showcase-btn float-right"><a href="/reviews">Reviews</a></div>
                    </div>
                    <div class="col-xl-4 col-l-4 col-m-4 col-s-4 col-xs-6 showcase">
                        <h1 class="showcase-header">What Else We Offer</h1>
                        <p><img src="./img/showcase-image.jpg" class="showcase-img float-left" alt="">We have a TV show collection which you can browse and add your favorite TV show in case we missed it. We have a lot of categories including action, comedy, adventure, horror, drama, romance and many others. You can browse freely but you need an account to add new TV shows.</p>
                        <div class="showcase-btn float-right"><a href="/shows">Shows</a></div>
                    </div>
                    <div class="col-xl-4 col-l-4 col-m-4 col-s-4 col-xs-6 showcase">
                        <h1 class="showcase-header">Our Missions</h1>
                        <p><img src="./img/showcase-image.jpg" class="showcase-img float-left" alt="">Our mission is to provide you with a sustainable amount of TV Shows on which you can share your opinion freely.</p>
                        <div class="showcase-btn float-right"><a href="/register">Sign Up</a></div>
                    </div>
                </div>
                <div class="row media">
                    <div class="col-xl-2 col-l-2 col-m-1 col-s-1 col-offset-1 media-inner" id="first-child">
                        <div class="black-circle">
                            <i class="fa fa-play inner-icon" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-xl-2 col-l-2 col-m-3 media-inner">
                        <div class="black-circle">
                            <i class="fa fa-search inner-icon" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-xl-2 col-l-2 col-m-3 media-inner">
                        <div class="black-circle">
                            <i class="fa fa-play inner-icon" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-xl-2 col-l-2 col-m-3 media-inner">
                        <div class="black-circle">
                            <i class="fa fa-search inner-icon" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-xl-2 col-l-2 col-m-3 media-inner">
                        <div class="black-circle">
                            <i class="fa fa-play inner-icon" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row quote">
                <div class="col-xl-8 col-l-8 col-m-10 col-s-12 ml-auto mr-auto">
                    <div class="row">
                        <div class="col-9 quote-inner">
                            We offer the best TV Shows database and allow you to express your opinion.
                        </div>
                        <div class="col-2 mr-auto">
                            <div class="showcase-btn" id="showcase-btn-quote">
                                Sign Up Now
                            </div>
                        </div>
                    </div>
                </div>
            </div>